html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: #0a0a0a;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 6px 0;
    font-size: 14px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

h3 {
    font-size: 32px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 17px;
}

a {
    font-size: 17px;
}

#iphone {
    background: #141415;
    color: #fff;
    text-align: center;
    padding: 30px 0 0 0;
    box-shadow: 0 0 10px #0A0A0A;
}

#video {
    width: 100%;
    height: 600px;
}


footer {
    width: 100%;
    height: 50px;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

#btnUp {
    width: 30px;
    height: 30px;
}